<?xml version="1.0"?>
<model>
  <name>Corridor Floor Vertical</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Giovanni Antonucci</name>
    <email>gio.antonucci@studenti.unina.it</email>
  </author>
  <description>
    Vertical floor segment for corridor
  </description>
</model>