<?xml version="1.0"?>
<model>
  <name>Exit Door</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Giovanni Antonucci</name>
    <email>gio.antonucci@studenti.unina.it</email>
  </author>
  <description>
    Exit door for the escape room corridor (with space for ArUco marker)
  </description>
</model>